body {
  background-color: #f8fcfb;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

#date {
  text-transform: capitalize;
}

#condition {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 35px 50px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 65px;
  margin-right: 7px;
  width: 65px;
}

.weather-temperature strong {
  color: #212121;
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -28px;
}

.weather-temperature .active {
  color: #212121;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-day {
  font-size: 17px;
}

.forecast-temp {
  font-size: 15px;
}

.forecast-temp-min {
  color: #878787;
}
